#nav{
    background-color: gray;
    padding: 30px;
    margin: 30px;
    display: flex;
    
}


#nav h1{
    text-decoration: underline;
    color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: left;
}
 
#nav a{
    text-decoration: none;
    justify-content: right;
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav a:hover{
    color: yellow;
}

button{
    background-color: lightblue;
    color: white;
    border-radius: 20px;
    width: 10vw;
    font-size: large;
    align-self: left;
    height: 7vh;
}
button:hover{
    color: black;
    background-color: blue;
}

#front p{
    font-size: x-large;
    color: black;
}

#about{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
}

#about span{
    text-decoration: underline;
    color: white;
}

#about h2{
    color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border: none;
    border-radius: 20px;
    width: 70vw;
    height: 50vh;

}
#contactme{
    background-color: gray;
}
#contactme h2{
    color: lightblue;
}
#contactme ul li a{
    color: black;
}
#contactme ul li a:hover{
    color: lightblue;
}